<footer>
    <div class="container">
        <div class="top">
            <a href="" title="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <h4 class="txt-lg fw-b">TRUNG TÂM ĐO KIỂM VÀ SỬA CHỮA THIẾT BỊ VIỄN THÔNG MOBIFONE CHI NHÁNH TỔNG CÔNG TY VIỄN THÔNG MOBIFONE</h4>
        </div>
        <div class="flex">
            <div class="box-info">
                <div class="des txt-lg">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MobiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng. Với tôn chỉ, lấy sự hài lòng của khách hàng làm thước đo, chúng tôi đang nỗ lực không ngừng để nâng cấp sản phẩm và dịch vụ bắt kịp bước chuyển mình của xã hội thời kỳ Chuyển đổi số, phấn đấu góp phần đưa MobiFone trở thành nhà cung cấp hạ tầng và dịch vụ số hàng đầu Việt Nam.</div>
                <ul class="info-list">
                    <li class="flex">
                        <i class="icon icon-address"></i>
                        <span>Địa chỉ: Số 115 Trần Duy Hưng, Trung Hòa, Cầu Giấy, Hà Nội.</span>
                    </li>
                    <li class="flex">
                        <i class="icon icon-phone"></i>
                        <span>Số điện thoại: <a href="" tel="(+84-24) 3783 1800">(+84-24) 3783 1800</a></span>
                    </li>
                    <li class="flex">
                        <i class="icon icon-email"></i>
                        <span>Email: <a href="mailto:mobifone@mobifone.vn">mobifone@mobifone.vn</a></span>
                    </li>
                </ul>
                <div class="business-code txt-lg">Mã số doanh nghiệp: 0100686209-167 do Sở Kế hoạch và Đầu tư thành phố Hà Nội cấp lần đầu ngày 07/04/2014</div>
                <div class="flex-lc">
                    <a href="" title="" class="bocongthuong">Bộ công thương</a>
                    <div class="social flex-lc">
                        <a href="" title="" class="facebook">Facebook</a>
                        <a href="" title="" class="youtube">Youtube</a>
                        <a href="" title="" class="gmail">Gmail</a>
                        <a href="" title="" class="zalo">Zalo</a>
                    </div>
                </div>
            </div>
            <div class="box-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.757909022469!2d105.80329071198439!3d21.00233928055963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad370df77835%3A0xbbec3e92fa734ced!2zODUgxJAuIFbFqSBUcuG7jW5nIFBo4bulbmcsIFRoYW5oIFh1w6JuIFRydW5nLCBUaGFuaCBYdcOibiwgSMOgIE7hu5lpIDEyMzEwNSwgVmlldG5hbQ!5e0!3m2!1sfr!2s!4v1704876213418!5m2!1sfr!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="copyright flex-center txt-lg">
            Copyright © 2023 MobiFone | <a href="" title="Điều khoản">Điều khoản</a>
        </div>
    </div>
</footer>