<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="box-logo">
            <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <span>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone</span>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="/home.html" title="Trang chủ">Trang chủ</a></li>
                <li><a href="" title="Giới thiệu">Giới thiệu</a></li>
                <li><a href="" title="Sản phẩm & Dịch vụ">Sản phẩm & Dịch vụ</a></li>
                <li><a href="" title="Tuyển dụng">Tuyển dụng</a></li>
                <li><a href="" title="Tin tức">Tin tức</a></li>
                <li><a href="" title="Đăng nhập">Đăng nhập</a></li>
            </ul>
            <a href="tel:(+84-24) 3783 1800" class="phone flex-lc">(+84-24) 3783 1800</a>
            <form action="" method="" class="form-search">
                <button type="button" class="btn-search"></button>
            </form>
        </div>
    </nav>
</header>
