<main>
    <header>
        <div class="container">
            <div class="row">
                <a href="" class="logo text-center">
                    <img class="img-responsive" data-src="./assets/img/b52/logo.png" src="./assets/img/b52/logo.png" alt="">
                </a>
            </div>
            <div class="row">
                <div class="slogan text-center">
                    <img class="img-responsive" data-src="./assets/img/b52/slogan.png" src="./assets/img/b52/slogan.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <div class="choinhanh web">
        <div class="container">
            <div class="row flex-center">
                <div class="banner-mainx" data-toggle="modal" data-target="#modalContent">
                    <img class="img-responsive main-banner" data-src="./assets/img/b52/banner-main.png" src="./assets/img/b52/banner-main.png?v=1.5.0.14" alt="">
                    <button type="button"></button>
                </div>
                <div class="mobile-show">
                    <div class="dacotaikhoan" style="display: none;"><img src="./assets/img/b52/dacotaikhoan.png"></div>
                    <div id="android" class="row">
                        <a href="javascript:;" class="store btn-store">
                            <img src="./assets/img/b52/btn-android.png" alt="" width="100%">
                        </a>
                        <small>Bản cài đặt đã đổi tên nhằm vượt qua sự kiểm duyệt.</small>
                    </div>
                    <div id="ios" class="row" style="display: block;">
                        <a href="javascript:;" class="store btn-store">
                            <img src="./assets/img/b52/btn-ios.png" alt="" width="100%">
                        </a>
                        <small>Bản cài đặt đã đổi tên nhằm vượt qua sự kiểm duyệt.</small>
                    </div>
                </div>
                <div class="btn-pc">
                    <img class="img-responsive line" src="./assets/img/b52/line.png" alt="">
                    <button type="button" title="" class="playquick">
                        <img class="img-responsive" src="./assets/img/b52/playweb-pc.png" alt="">
                    </button>
                    <img class="img-responsive line" src="./assets/img/b52/line.png" alt="">
                    <a target="_blank" href="" class="btn1111-pc">
                        <img class="img-responsive" src="./assets/img/b52/btn-1111.png" alt="">
                        <small>Cài đặt <b>1.1.1.1 </b>để truy cập web chính hãng, không lo bị nhà mạng chặn.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ul class="box-link">
        <li class="icon_info">
            <a href="javascript:;" class="icon-livechat mb"></a>
        </li>
        <li class="icon_info">
            <a target="_blank" href="https://t.me/sanchoibomtan" class="icon-tele"></a>
        </li>
        <li class="icon_info">
            <a target="_blank" href="https://www.facebook.com/sanchoibmtan" class="icon-fb"></a>
        </li>
    </ul>
</main>
<div class="banner-left">
    <img class="img-responsive" src="./assets/img/b52/bg-left-lazy.png">
    <a href="" target="blank" class="redirect text-center">
    </a>
</div>
<div class="banner-right">
    <img class="img-responsive" src="./assets/img/b52/bg-left-lazy.png">
    <a href="" target="blank" class="redirect text-center">
    </a>
</div>

<div id="modalContent" class="modal fade modal_style" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><img src="./assets/img/b52/icon-close.png"  alt="" width="50"></button>
            <div class="modal-body">
                <img class="tab" src="./assets/img/b52/tab.png" alt="">

                <img class="girl" src="./assets/img/b52/girl.png" alt="">

                <img class="title-modal" src="./assets/img/b52/title-modal-content.png" alt="">
                <p class="title-content mw54">Phương thức hoạt động</p>
                <p class="pd-custom">
                    - Chủ hội chỉ cần quảng cáo Đường dẫn giới thiệu của mình đến những người chơi khác. Nếu có tài
                    khoản
                    nào được đăng ký từ Đường dẫn đó thì tài khoản đó sẽ được tính là 1 thành viên của chủ hội. Khi
                    thành viên phát sinh cược trong game thì Chủ hội sẽ nhận được hoa hồng dựa trên tổng cược của thành
                    viên.
                </p>
                <p class="pd-custom">- Tiền hoa hồng sẽ được hệ thống tự động cộng vào tài khoản của chủ hội lúc 0h30 mỗi ngày.</p>
                <p class="title-content">Điều kiện mở khóa chức năng và trở thành chủ hội</p>
                <p>- Phải có ít nhất 1 giao dịch thành công nạp và rút qua hình thức Ngân hàng.</p>
                <p class="mb-0">- Phát sinh cược từ 30 ngày trở lên (không giới hạn mức cược)</p>
                <p>
                    *Khi tài khoản thỏa mãn đủ 2 điều kiện trên thì hệ thống sẽ tự động ghi nhận và mở khóa chức năng
                    KIẾM TIỀN
                    CÙNG
                    NHÀ
                    CÁI và sẽ có đường dẫn giới thiệu hiển thị trực tiếp trong phần Thông tin tài khoản =&gt; Kiếm tiền
                </p>
                <p class="title-content mw24">Lợi ích</p>
                <p>- Được hưởng 50% doanh thu với nhà cái (doanh thu phát sinh từ thành viên)</p>
            </div>
        </div>
    </div>
</div>