<div class="page-content">
    <div class="page-left">
        <div class="bannergames">
            <div id="bannergame" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="./assets/img/sun/slider5.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="./assets/img/sun/slider1.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="./assets/img/sun/slider2.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="./assets/img/sun/slider3.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="./assets/img/sun/slider4.png" alt="">
                    </div>
                </div>
                <ul class="carousel-indicators">
                    <li data-target="#bannergame" data-slide-to="0" class="active"></li>
                    <li data-target="#bannergame" data-slide-to="1"></li>
                    <li data-target="#bannergame" data-slide-to="2"></li>
                    <li data-target="#bannergame" data-slide-to="3"></li>
                    <li data-target="#bannergame" data-slide-to="4"></li>
                </ul>
            </div>
        </div>
        <div class="box-link">
            <a target="_blank" href="" class="icon-phone icon-phone2" title="Fanpage chính hãng">Fanpage chính hãng</a>
            <a target="_blank" href="" class="icon-phone icon-phone3" title="Channel chính hãng">Channel chính hãng</a>
            <a href="javascript:;" class="icon-livechat" title="Live chat">Live chat</a>
        </div>
    </div>
    <div class="main">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logo text-center">
                            <img data-src="./assets/img/sun/logo.png" src="./assets/img/sun/logo.png?v=3.1.2" alt="sunwin">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="slogan">GAME BÀI MACAO</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="container">
                <div class="row">
                    <div class="tab-content">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#register" class="active show"><img src="./assets/img/sun/tab-dangky.png?v=3.1.2" alt=""></a></li>
                        </ul>
                        <div id="register" class="tab-pane show active fade in">
                            <form class="regFrm" role="form" id="registerForm" method="" action="">
                                <div class="form-group">
                                    <div class="instyle">
                                        <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" autocomplete="off">
                                    </div>
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="form-group">
                                    <div class="instyle">
                                        <input type="password" class="form-control" id="password-field" name="password" placeholder="Mật khẩu" autocomplete="off">
                                    </div>
                                    <i class="fas fa-lock"></i>
                                    <span toggle="#password-field" class="toggle-password">
                                        <i class="far fa-eye icon-prepend"></i>
                                        <i class="far fa-eye icon-prepend fa-eye-slash"></i>
                                    </span>
                                </div>
                                <div class="form-group wrapper-recaptcha mb-3">
                                    <div class="recaptcha-input">
                                        <div class="instyle">
                                            <input type="text" class="form-control" id="captcha" name="captcha" placeholder="Nhập Captcha" autocomplete="off">
                                        </div>
                                        <div class="capcha_box">
                                            <div class="recaptcha-bg" style="background-image: url('https://sun20.win/get-captcha.html');"></div>
                                            <div class="capcha_icon"><i class="fas fa-sync-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group btn_form">
                                    <button type="submit" class="btnsubmit m-auto"><img src="./assets/img/sun/btn-dangky.png" alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row playonweb-pc active btn1111">
                    <a href="" target="_blank" title="" class="store playweb-server mb-1"><img src="./assets/img/sun/btn-play-web.png" alt=""></a>
                </div>
                <div class="row playonweb-pc active">
                    <a href="" target="_blank" class="m-auto playweb text-center"><img src="./assets/img/sun/btn-facevpn.png"  alt=""></a>
                    <small>Cài đặt để vượt chặn và truy cập&nbsp;<a href="" target="_blank" title="sunwin">Sun.Win</a> chính hãng</small>
                </div>
            </div>
        </div>
    </div>
    <div class="thankform">
        <div class="thanktop">
            <div class="thanktop_ttl">CHÚC MỪNG!</div>
            <div class="thanktop_lbl">Bạn đã đăng ký thành công</div>
        </div>
        <div class="thankinfo">
            <p class="thankinfo_user">Tên đăng nhập: <span id="show_user">abcxyz</span></p>
            <p class="thankinfo_pass">Mật khẩu: <span id="show_pass">***G</span></p>
        </div>
    </div>
    <div class="download">
        <div class="container text-center">
            <div id="android" class="row stylebtn mb-0 pb-0">
                <a id="taiggplay" target="_blank" href="" rel="nofollow" class="store btn-store">
                    <img src="./assets/img/sun/btn-chplay.png?v=3.1.2" alt="" width="100%">
                </a>
                <small>Một số phiên bản Android có thể không tương thích với CH Play, vui lòng cài đặt bản apk bên dưới nếu không tải được game</small>
            </div>
            <div id="android" class="row stylebtn pt-0">
                <a id="taiggplay" href="javascript:;" rel="nofollow" class="">
                    <img src="./assets/img/sun/btn-android.png?v=3.1.2" alt="" width="100%">
                </a>
            </div>
            <div id="ios" class="row stylebtn">
                <a id="taiios" href="javascript:;" rel="nofollow" name="" class="store btn-store">
                    <img src="./assets/img/sun/btn-ios.png?v=3.1.2" alt="" width="100%">
                </a>
            </div>
            <div id="playonweb" class="row stylebtn  pt-0">
                <a href="javascript:;" class="store playweb">
                    <img src="./assets/img/sun/btn-play-web.png?v=3.1.2" alt="" width="100%">
                </a>
            </div>
        </div>
    </div>
    <div class="seo-info">
        <div class="container">
            <div class="row">
                <div class="col-12 d-block info">
                    <h1 class="seottl"><span>SUNWIN | TẢI SUN WIN APK/IOS</span> <span>ĐĂNG KÝ &amp; ĐĂNG NHẬP CHÍNH THỨC</span></h1>
                    <p><span style="font-weight: 400;">SunWin không chỉ là một thương hiệu nổi tiếng, mà còn là biểu tượng của sự đẳng cấp và trải nghiệm giải trí xuất sắc. Với một lịch sử lâu dài trong lĩnh vực giải trí, SunWin tự hào là điểm đến hàng đầu cho những người tìm kiếm sự hứng thú và độ chân thật trong trải nghiệm cá cược và game online.</span></p>
                    <div class="content_games">
                        <div class="box-slider">
                            <div class="slider-list">
                                <div class="item"><img src="./assets/img/sun/ctgame1.png" alt=""></div>
                                <div class="item"><img src="./assets/img/sun/ctgame2.png" alt=""></div>
                                <div class="item"><img src="./assets/img/sun/ctgame3.png" alt=""></div>
                                <div class="item"><img src="./assets/img/sun/ctgame4.png" alt=""></div>
                                <div class="item"><img src="./assets/img/sun/ctgame5.png" alt=""></div>
                                <div class="item"><img src="./assets/img/sun/ctgame6.png" alt=""></div>
                                <div class="item"><img src="./assets/img/sun/ctgame6.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <p><span style="font-weight: 400;">Với SunWin, bạn không chỉ được thưởng thức các trò chơi đỉnh cao mà còn trải qua không gian giải trí chuyên nghiệp và an toàn nhất. Khám phá SunWin ngay hôm nay và trải nghiệm sự đẳng cấp đích thực của giải trí trực tuyến!</span></p>
                    <div class="content_seo">
                        <div class="nano has-scrollbar">
                            <div class="nano-content">
                                <p><a href=""><b>SunWin</b></a> <span style="font-weight: 400;">: Thương hiệu giải trí nhiều năm hoạt động trên thị trường cá cược online. Sân chơi cung cấp hàng loạt sản phẩm game bom tấn đến cho người dùng.</span></p>
                                <p><img src="./assets/img/sun/img1.png" alt=""></p>
                                <h2><b>GIỚI THIỆU SUN WIN CLUB</b></h2>
                                <p><a href=""><b>Sun Win</b></a> <span style="font-weight: 400;"> ra đời với sứ mệnh cao cả vừa tiếp bước đàn anh vừa tạo nét độc đáo riêng. Game được đầu tư kỹ lưỡng về: Hình ảnh, giao diện, âm thanh, tốc độ và đặc biệt là nội dung các trò chơi.</span></p>
                                <p><span style="font-weight: 400;">Hiện nay sân chơi có khoảng hơn 50 trò chơi, đầy đủ các thể loại cho bạn lựa chọn. Sun Win đứng đầu châu Á với đầy đủ giấy phép hoạt động hợp pháp trong ngành công nghiệp game trực tuyến.</span></p>
                                <h2><b>HỆ THỐNG GAME ĐA DẠNG TẠI SUNWIN</b></h2>
                                <p><img src="./assets/img/sun/img2.png?v=1" alt="Kho game sunwin chất lượng"></p>
                                <h3><b><i>Thể loại game tại Sun Win</i></b></h3>
                                <ol>
                                    <li><span>ALL GAME: Vua săn cá, Sicbo tài phú MD5, Tài xỉu, Xóc đĩa tứ linh, Tài xỉu livestream, Xóc đĩa livestream..</span></li>
                                    <li><span>SLOT ĐỔI THƯỞNG: Na tra, Avengers, Thủy cung, Thần tài, Pirate,…</span></li>
                                    <li><span>MINI GAME: Mini poker, Kim cương, Tài xỉu, Trên dưới, Dragon ball,…</span></li>
                                    <li><span style="font-weight: 400;">GAME BÀI: Tiến lên, Phỏm, Sâm lốc, Mậu binh, Poker,...</span></li>
                                </ol>
                                <h2><b>TẢI SUNWIN PHIÊN BẢN MỚI NHẤT</b></h2>
                                <p>
                                    <span style="font-weight: 400;">Link tải SunWin mới nhất cho iOS, Android:</span>
                                    <a href="https://sun20.win/"><b>Tại đây</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-right">
        <div class="banners_info">
            <div class="notis_slogan">Tìm link chính hãng</div>
            <div class="notis_ttl"><img src="./assets/img/sun/slogan-linkchinhhang.png" alt=""></div>
            <ul class="banner-lst">
                <li>
                    <div class="banner-lst-box">
                        <div class="banner-lst-lbl">Cài đặt ngay</div>
                        <div class="banner-lst-txt btn1111"><a href="" rel="nofollow" target="_blank" title="Cài đặt 1.1.1.1"><img src="./assets/img/sun/btn-vpns.png?v=3.1.2" data-src="./assets/img/sun/btn-vpns.png" alt=""></a></div>
                    </div>
                    <div class="icondlapp btn1111"><a href="" rel="nofollow" target="_blank" title="Cài đặt 1.1.1.1"></a></div>
                    <div class="numberlist"></div>
                </li>
                <li>
                    <div class="banner-lst-box">
                        <div class="banner-lst-lbl">Truy cập</div>
                        <div class="banner-lst-txt"><a href="" target="_blank" title="">SUN.WIN</a></div>
                    </div>
                    <div class="numberlist"></div>
                </li>
                <li>
                    <div class="banner-lst-box">
                        <div class="banner-lst-lbl">Nhận link</div>
                        <div class="banner-lst-txt"><span>MỚI</span> NHẤT</div>
                    </div>
                    <div class="numberlist"></div>
                </li>
            </ul>
            <p class="notis_note"><span>Sun.win</span> hiện tại bị các Nhà Mạng chặn, chỉ có thể truy cập khi sử dụng phần mềm vượt chặn <span class="text-unlines"><a href="https://1.1.1.1/" rel="nofollow" target="_blank" title="Cài đặt 1.1.1.1">1.1.1.1</a></span></p>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row pb-4 align-items-center">
            <div class="col-12 d-lg-none col-lg-4 text-center">
                <div class="logoft"><span><img src="./assets/img/sun/logo-ft.png?v=3.1.2" data-src="./assets/img/sun/logo-ft.png" alt="sunwin" style="max-width: 258px;"></span></div>
            </div>
            <div class="col-6 col-lg-4 pb-lg-0 text-center">
                <p class="ftlbl">CHỨNG NHẬN</p>
                <div class="ftcn"><img src="./assets/img/sun/chungnhan.png?v=3.1.2" data-src="./assets/img/sun/chungnhan.png" alt="chứng nhận game sunwin"></div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block text-center">
                <div class="logoft"><span><img src="./assets/img/sun/logo-ft.png?v=3.1.2" data-src="./assets/img/sun/logo-ft.png" alt="tải sunwin" style="max-width: 258px;"></span></div>
                <div class="ftbtnstyle"><a class="icon-livechat" href="javascript:;">Hỗ Trợ Trực Tuyến 24/7</a></div>
            </div>
            <div class="col-6 col-lg-4 text-center">
                <p class="ftlbl">THEO DÕI CHÚNG TÔI</p>
                <ul class="ftbtn">
                    <li><a class="fticon ftchat icon-livechat" href="javascript:;"></a></li>
                    <li><a class="fticon ftfb" target="_blank" href=""></a></li>
                    <li><a class="fticon fttele" target="_blank" href="https://t.me/gamebaimacau"></a></li>
                </ul>
            </div>
            <div class="col-12 d-block d-lg-none pt-4">
                <div class="ftbtnstyle"><a class="icon-livechat" href="javascript:;">Hỗ Trợ Trực Tuyến 24/7</a></div>
            </div>
        </div>
    </div>
    <div class="copyright">©2023 Bản Quyền Thuộc SUNWIN</div>
</footer>
<div class="loading">
    <img src="./assets/img/sun/loading.gif" alt="Đang tải game" width="22" height="22">
</div>
<div class="notis_info catfishmb">
    <div class="catfishmb_slogan"><img src="./assets/img/sun/slogan-linkchinhhang-mb.png" alt=""></div>
    <ul class="banner-lst">
        <li>
            <div class="banner-lst-box">
                <div class="banner-lst-lbl">
                    <div class="numberlist"></div>
                    <div class="d-inline-block">Cài đặt ngay</div>
                    <div class="icondlapp btn1111"><a href="" target="_blank" title=""></a></div>
                </div>
                <div class="banner-lst-txt btn1111"><a href="" target="_blank" title=""><img src="./assets/img/sun/btn-vpn2.png" alt=""></a></div>
            </div>
        </li>
        <li>
            <div class="banner-lst-box">
                <div class="banner-lst-lbl">
                    <div class="numberlist"></div>
                    <div class="d-inline-block">Truy cập</div>
                </div>
                <div class="banner-lst-txt"><a href="" target="_blank" rel="nofollow" title="">SUN.WIN</a></div>
            </div>
        </li>
        <li>
            <div class="banner-lst-box">
                <div class="banner-lst-lbl">
                    <div class="numberlist"></div>
                    <div class="d-inline-block">Nhận link</div>
                </div>
                <div class="banner-lst-txt">MỚI NHẤT</div>
            </div>
        </li>
    </ul>
    <p class="notis_ttllink"><img src="./assets/img/sun/slogan-catfish.png?v=3.1.2" data-src="./assets/img/sun/slogan-catfish.png" alt="sun win"></p>
    <div class="notis_note"><a href="https://sun.win/" target="_blank" rel="nofollow" title="SUN.WIN">SUN.WIN</a> hiện tại bị các Nhà Mạng chặn, chỉ có thể truy cập khi sử dụng phần mềm vượt chặn <p class="btn1111"><a class="text-unlines" href="https://1.1.1.1/" rel="nofollow" target="_blank" title="Cài đặt 1.1.1.1">1.1.1.1</a></p>
    </div>
</div>