/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: 700;
}
button,
input,
select {
  overflow: visible;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
}
[disabled] {
  cursor: default;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
body,
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
@font-face {
  font-family: utm;
  src: url('#{$font-path}/UTM.ttf');
}
@font-face {
  font-family: utm;
  font-weight: 700;
  src: url('#{$font-path}/UTMBold.ttf');
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: utm;
  color: #dab777;
  font-size: 14px;
  overflow-x: hidden;
  background: url('#{$img-path}/b52/bg-bottom1.png') bottom left no-repeat fixed,
  url('#{$img-path}/b52/bg-bottom2.png') bottom right no-repeat fixed,
  url('#{$img-path}/b52/bg-left.png') top 61% left 8% no-repeat,
  url('#{$img-path}/b52/bg-right.png') top 55% right 8% no-repeat,
  url('#{$img-path}/b52/bg.jpg') bottom center no-repeat fixed;
  background-size: 480px auto, 480px auto, 23% auto, 28% auto, cover;
  background-color: #13141a;
  &::-webkit-scrollbar{width: 4px;}
  &::-webkit-scrollbar-track{background: rgba(#000,.6);}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
.box-link{
  li{list-style: none;}
}

.flex-center {
  align-items: center;
  justify-content: center;
}
.btn-pc {
  text-align: center;
}
.line {
  margin: 32px 0;
}
.web .container,
#main .container,
header .container {
  max-width: 550px;
}
p {
  line-height: 1.2;
}
a {
  color: #f89e22;
}
a:hover {
  color: #f89e22;
}
.text-primary {
  color: #fed136 !important;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  width: 100%;
}
h1 {
  display: none;
}
.logo {
  width: 74%;
  margin: 0 auto 0;
  position: relative;
  z-index: 2;
}
.slogan {
  margin: -4.2rem auto 0.5rem;
  position: relative;
  z-index: 2;
  width: 80%;
}
.mobile-show{display: none;}
.logo > img,
.slogan > img {
  max-width: 100%;
}
.web .container .row {
  position: relative;
}
.web .nav-tabs {
  width: 42%;
  border: none !important;
  margin: 0 auto 0.7rem;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 3;
}
.web .nav-tabs > li {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.web .nav-tabs > li:first-child {
  margin-right: 5px;
}
.web .nav-tabs > li:last-child {
  margin-left: 5px;
}
.web .nav-tabs > li.active:first-child {
  z-index: 2;
}
.web .nav-tabs > li.active:last-child {
  z-index: 2;
}
.web .nav-tabs > li > a > img:nth-child(2) {
  display: none;
}
.web .nav-tabs > li.active > a > img:first-child {
  display: none;
}
.web .nav-tabs > li.active > a > img:nth-child(2) {
  display: block;
}
.web .nav-tabs > li > a > img {
  max-width: 100%;
}
.web .nav-tabs > li > a {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #f7dca9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.web.choinhanh {
  padding-bottom: 0 !important;
}
.web.choinhanh .nav-tabs > li#choinhanhtab:first-child {
  margin-right: 0.1rem;
}
.web.choinhanh .nav-tabs > li#choinhanhtab ~ li:last-child {
  margin-left: 0.1rem;
}
.tabs-active #choinhanhtab img,
.tabsweb {
  display: none !important;
}
.tabs-active #choinhanhtab img.tabsweb {
  display: block !important;
}
.web .tab-content {
  background: url('#{$img-path}/b52/bg-form.png') top center/100% 100% no-repeat;
  margin: 0 auto;
  padding: 1.5rem 0 3.2rem;
  position: relative;
  width: 80%;
  z-index: 2;
}
.web .form-404 {
  background: url('#{$img-path}/b52/bg-form.png') top center/100% 100%
  no-repeat;
  background-size: 100% 100%;
  padding: 10% 10% 2% 10% !important;
  width: 100%;
  max-width: 500px;
}
form {
  width: 78%;
  margin: 0 auto;
  min-height: 205px;
}
.form-group {
  position: relative;
  margin-bottom: 1.2rem;
}
.btn_form {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 3%;
  right: 3%;
  top: calc(100% - 3rem);
}
.btnsubmit {
  background: 0 0;
  outline: 0;
  border: none;
  padding: 0;
  margin-right: -3%;
}
#facebook {
  margin-left: -3%;
}
.form-group > i {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  height: 50px;
}
.form-group > i img {
  height: 100%;
}
.form-group > i.icon-prepend {
  right: 0;
  left: auto;
}
.form-control {
  height: 50px;
  background: url('#{$img-path}/b52/line-input.png') top center no-repeat,
  url('#{$img-path}/b52/bg-inputv2.png') top left no-repeat;
  background-size: 70% auto, 100% 100%;
  background-color: transparent !important;
  border: none !important;
  outline: 0 !important;
  margin: 0 auto;
  padding: 0 100px;
  font-size: 18px;
  color: #fff !important;
  border-radius: 0;
  text-align: center;
}
@-webkit-keyframes autofill {
  0%,
  100% {
    color: #fff !important;
    background: url('#{$img-path}/b52/line-input.png') top center no-repeat,
    url('#{$img-path}/b52/bg-inputv2.png') top left no-repeat !important;
    background-size: 70% auto, 100% 100% !important;
  }
}
input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
input::-webkit-input-placeholder {
  color: #fff !important;
}
input:-moz-placeholder {
  color: #fff !important;
}
input::-moz-placeholder {
  color: #fff !important;
}
input:-ms-input-placeholder {
  color: #fff !important;
}
[contenteditable].form-control:focus,
[type="email"].form-control:focus,
[type="password"].form-control:focus,
[type="tel"].form-control:focus,
[type="text"].form-control:focus,
a,
button,
input.form-control:focus,
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea.form-control:focus,
textarea:focus {
  box-shadow: inset 0 -1px 0 transparent !important;
  -webkit-box-shadow: 0 -1px 0 transparent !important;
  outline: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.btn1111 .playweb {
  width: 40% !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-2rem {
  margin-top: 2rem !important;
}
#main {
  position: relative;
  z-index: 11;
}
img {
  margin: 0 auto;
  max-width: 100%;
}
.btn-download {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  padding: 0 15px;
}
a.server {
  width: 50%;
  display: inline-block;
  margin-right: 10px;
}
a.store {
  display: block;
  margin: 20px auto 0;
}
.playweb {
  width: 49%;
}
a.ios-server:active,
a.ios-server:hover {
  opacity: 0.8;
}
.btn-store,
a.ios-server {
  width: 69%;
}
#android,
#ios,
#playonweb,
.hoac {
  display: none;
}
#facebook:hover,
.btnsubmit:hover,
.icon-about:hover,
a.icon-fb:hover,
a.icon-livechat:hover,
a.icon-phone:hover,
a.icon-tele:hover {
  -webkit-filter: drop-shadow(2px 2px 8px #f6ce75) brightness(1.3) !important;
  filter: drop-shadow(2px 2px 8px #f6ce75) brightness(1.3) !important;
}
div#login > h3,
div#register > h3 {
  display: none;
  text-align: center;
  background: linear-gradient(#fff3cd 0, #fff5d7 30%, #ffecab 70%, #ffe793 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error,
.errors {
  margin-bottom: 0;
  color: red;
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 13px;
}
small {
  width: 100%;
  display: block;
  color: #fff;
  margin: 0 auto;
  max-width: 395px;
  font-size: 16px;
  margin-top: 6px;
}
#android > small,
#ios > small,
#playonweb > small {
  display: block;
}
#playonweb > small {
  margin-top: 0;
}
.loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 99;
}
.loading > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.thankyou {
  display: none;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.icon-about,
.icon-fb,
.icon-tele,
a.icon-livechat,
a.icon-phone {
  display: inline;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: contain;
}
a.icon-phone {
  position: fixed;
  width: 267px;
  height: 80px !important;
  background-image: url('#{$img-path}/b52/btn-hotlive.png');
  right: 10px !important;
  top: 10px !important;
}
a.icon-livechat {
  position: fixed;
  right: 30px !important;
  bottom: 20px !important;
  background-image: url('#{$img-path}/b52/icon-livechat.png');
  width: 70px;
  height: 70px !important;
}
a.icon-tele {
  position: fixed;
  right: 210px !important;
  bottom: 20px !important;
  background-image: url('#{$img-path}/b52/tele.png');
  width: 70px;
  height: 70px !important;
}
a.icon-fb {
  position: fixed;
  right: 120px !important;
  bottom: 20px !important;
  background-image: url('#{$img-path}/b52/fb.png');
  width: 70px;
  height: 70px !important;
}
.icon-about {
  display: block;
  position: fixed;
  right: 30px !important;
  top: 10px !important;
  background-image: url('#{$img-path}/b52/icon-about.png');
  width: 70px;
  height: 70px !important;
  cursor: pointer;
}
#watch {
  width: 290px;
  background: url('#{$img-path}/b52/bg-noti.png') top center no-repeat;
  background-size: 100% 100%;
  padding: 3rem 2.4rem 3rem 1.2rem;
}
.lst_watch {
  padding: 0;
  margin: 0;
  list-style: none;
}
.lst_watch .match_slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 8px;
  padding-bottom: 8px;
  background: url('#{$img-path}/b52/line-noti.png') center bottom no-repeat;
  background-size: 60% auto;
  outline: 0;
}
.lst_watch .match_slider:last-child {
  margin-bottom: 0;
}
.lst_watch .match_slider .matchbox {
  width: calc(100% / 2.5);
}
.lst_watch .match_slider .matchbox:nth-child(2) {
  padding: 0 5px;
  width: 70px;
}
.matchbox_thumb span {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  display: inline-block;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.matchbox_thumb img {
  height: auto;
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
  display: inline-block;
  max-width: 100%;
}
.matchbox_lbl {
  text-transform: uppercase;
  color: #fff;
  font-style: italic;
  font-size: 10px !important;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.matchbox_lbl_style {
  color: #fff;
}
.matchbox_lbl_style span {
  display: block;
  color: #f7931d;
}
.lst_watch .match_slider p {
  margin-bottom: 0;
  font-size: 10px;
}
.lst_watch .slick-arrow {
  display: none !important;
}
#soicau {
  width: 290px;
  background: url('#{$img-path}/b52/bg-noti.png') top center no-repeat;
  background-size: 100% 100%;
  padding: 2rem 3.1rem 2rem 2rem;
}
.wrap-right {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.soicau_lst {
  padding: 0;
  margin: 0;
  list-style: none;
}
.soicau_lst li {
  padding: 0;
  margin: 0 0 5px;
}
.soicau_lst li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: url('#{$img-path}/b52/bg-name-cau.png') center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  padding: 0.4rem;
  text-shadow: 2px 2px 0 #5e5e5e, 2px -2px 0 #5e5e5e, -2px 2px 0 #5e5e5e,
  -2px -2px 0 #5e5e5e, 2px 0 0 #5e5e5e, 0 2px 0 #5e5e5e, -2px 0 0 #5e5e5e,
  0 -2px 0 #5e5e5e;
}
.navx {
  width: 90%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.bg-api {
  max-width: 100%;
  width: 72%;
  margin: 0 auto -0.4rem;
  background: url('#{$img-path}/b52/bg-jackpost.png') center left no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 60px;
}
.jackpot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jackpot_txt {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-line-clamp: 1;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 0 1rem;
  position: relative;
  width: 100%;
  font-weight: 700;
  height: 100%;
  -webkit-mask-image: linear-gradient(
                  to right,
                  transparent,
                  #fff 5%,
                  #fff 95%,
                  transparent
  );
}
.jackpot img {
  max-width: none;
  width: auto;
  height: 20px;
}
.jackpot_txt ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}
.jackpot_txt ul li {
  display: inline-block;
  white-space: nowrap;
  padding: 0 30px;
  color: #fff;
}
.jackpot_txt ul li i {
  color: #fee466;
  margin-right: 7px;
}
.jackpot_txt span.jackpot_name {
  color: #fbd218;
  display: inline-block;
  padding: 0 2px;
}
.jackpot_win {
  color: #fffb00 !important;
}
.modal-dialog {
  -webkit-transform: translate(0, -50%) !important;
  -o-transform: translate(0, -50%) !important;
  transform: translate(0, -50%) !important;
  top: 50%;
  margin: 0 auto;
}
#banners {
  top: 50%;
  width: 300px;
  position: fixed;
  left: 1%;
  display: flex;
  flex-direction: column;
  max-height: 98%;
  overflow: hidden;
  height: auto !important;
  min-height: 610px;
  transform: translateY(-50%);
}
.nano-content {
  overflow: hidden;
}
.jackpost_box {
  width: 300px;
  height: 206px;
  min-height: 206px;
  margin-bottom: 5px;
  padding: 107px 30px 62px 130px;
  display: flex;
  align-items: center;
}
.taixiu {
  background: url('#{$img-path}/b52/taixiu.png') top center no-repeat;
  background-size: 100% 100%;
}
.baucua {
  background: url('#{$img-path}/b52/baucua.png') top center no-repeat;
  background-size: 100% 100%;
}
.slot {
  background: url('#{$img-path}/b52/slot.png') top center no-repeat;
  background-size: 100% 100%;
}
.banca {
  background: url('#{$img-path}/b52/banca.png') top center no-repeat;
  background-size: 100% 100%;
}
.banca,
.slot {
  display: none !important;
}
.jackpost_num {
  color: #ffe612;
  font-weight: 700;
  width: 98%;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.jackpost_num::before {
  content: "";
  width: 17px;
  min-width: 17px;
  height: 21px;
  background: url('#{$img-path}/b52/icon-money.png') center no-repeat;
  background-size: contain;
  display: block;
  margin-right: 5px;
}
#main {
  display: none;
  margin-top: 0.7rem;
}
.hoac {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.hoac > img {
  max-width: 45%;
}
.dacotaikhoan {
  margin-top: 20px;
  margin-bottom: 0;
}
.dacotaikhoan > img {
  max-width: 160px; margin: 0 auto; display: block;
}
.adv {
  margin-bottom: 0;
  margin-top: 1rem;
}
.adv > div {
  width: 100%;
  margin: 0 auto;
}
.row.adv img {
  width: 70%;
}
.title-modal {
  text-align: center;
  display: block;
  margin-bottom: 2rem;
  width: 25vw;
  margin-top: 0.5rem;
  max-width: 340px;
}
.mw54 {
  min-width: 54% !important;
  margin-top: 0.5rem;
}
.tab {
  position: absolute;
  width: 9vw;
  left: 0;
  top: 10px;
  max-width: 140px;
}
#huongdan {
  color: #fff;
  padding-top: 1rem;
  display: none;
}
#huongdan h3 {
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5;
  background: #690b1a;
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}
.huongdan_step {
  text-transform: uppercase;
  color: #ffdc53;
  height: 36px;
  font-weight: 700;
  line-height: 36px;
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 0.5rem;
}
#huongdan p,
#huongdan ul {
  width: 100%;
}
.thankform {
  display: none;
  margin-bottom: 10px;
}
.thankinfo {
  margin: 0 auto;
  width: 70%;
}
.thankinfo_pass,
.thankinfo_user {
  color: #fefefe;
  font-size: 14px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-line-clamp: 1;
  font-weight: 700;
}
.thankinfo_sttl {
  margin: 0 auto 0.2rem;
}
.thankinfo_sttl img {
  max-width: 100%;
}
.btnstore,
.formstyle #choinhanhtab,
.formstyle #login,
.formstyle .btnsubmit img,
.formstyle a#facebook {
  display: none;
}
.formstyle .btnsubmit img.btnstore {
  display: block;
}
.formstyle .btnsubmit {
  max-width: 65%;
  margin: 0 auto;
}
.web.formstyle .nav-tabs > li {
  max-width: 55%;
}
#seoInfo {
  font-size: 14px;
  color: #fff;
}
#seoInfo b {
  font-weight: 700;
}
#seoInfo h1 {
  display: block;
  font-size: 15px;
}
#seoInfo h2,
#seoInfo h3 {
  font-size: 14px;
}
#seoInfo .container {
  max-width: 640px;
}
#seoInfo a {
  color: #fff;
  text-shadow: 1px 1px 0 #be6811, 1px -1px 0 #be6811, -1px 1px 0 #be6811,
  -1px -1px 0 #be6811, 1px 0 0 #be6811, 0 1px 0 #be6811, -1px 0 0 #be6811,
  0 -1px 0 #be6811;
}
.nano {
  overflow: hidden;
}
#seoInfo #info {
  max-height: 300px;
  overflow-y: scroll;
  outline: 0;
}
.iconnav {
  position: fixed;
  top: 1%;
  left: 0;
  cursor: pointer;
  display: none;
}
.menu_close {
  display: none;
  cursor: pointer;
}
.icon_info span {
  display: none;
}
.icon_info {
  margin-bottom: 0;
}
.menu p {
  margin-bottom: 0;
}
.modal_style .modal-dialog {
  padding: 0 10px;
}
.modal_style .modal-content {
  background: url('#{$img-path}/b52/bg-modal.png') top center no-repeat;
  background-size: 100% 100%;
  border: none;
  outline: 0;
  box-shadow: none;
  padding: 2rem;
}
.title-content {
  display: inline-block;
  width: auto;
  text-align: left;
  background: linear-gradient(90deg, #fb7408 0, rgba(255, 255, 255, 0) 90%);
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 100%;
  padding: 5px 5px;
  font-size: 15px;
}
#modalContent .modal-body {
  color: #000;
  font-size: 14px;
}
#modalContent .modal-content {
  background: url('#{$img-path}/b52/paper.jpg') top center no-repeat;
  background-size: 100% 100%;
  border: none;
  outline: 0;
  box-shadow: none;
  font-size: 16px;
  padding: 0 5px;
}
#modalContent .close {
  left: 96%;
  width: 40px;
}
#modalContent .modal-body p {
  line-height: 20px;
}
.mw24 {
  min-width: 24%;
}
@media (min-width: 1200px) {
  #modalContent .modal-dialog {
    max-width: 700px;
  }
}
.modal_style .modal-content .nano {
  overflow: hidden;
  padding: 0;
}
.modal_style .modal-content .modal-body {
  min-height: 150px;
}
#alertModal .modal-content .modal-body {
  display: flex;
  align-items: center;
  font-size: 22px;
}
.modal_style .modal-content .nano-content {
  max-height: 300px;
  overflow-y: scroll;
  outline: 0;
  color: #d4d4d4;
}
.modal_style .modal-content .nano-content h1 {
  font-size: 18px;
  display: block;
}
.modal_style .modal-content .nano-content h2 {
  font-size: 16px;
}
.modal_style .modal-content .nano-content h3,
.modal_style .modal-content .nano-content h4 {
  font-size: 14px;
}
.modal_style .modal-content .nano-content a {
  text-shadow: 1px 1px 0 #c02e05, 1px -1px 0 #c02e05, -1px 1px 0 #c02e05,
  -1px -1px 0 #c02e05, 1px 0 0 #c02e05, 0 1px 0 #c02e05, -1px 0 0 #c02e05,
  0 -1px 0 #c02e05;
}
.modal_style .modal-content .close {
  position: absolute;
  right: 0;
  z-index: 1;
  top: -10px;
  opacity: 1 !important;
}
.modal_style .modal-content .modal-title {
  color: #fff;
  display: block;
  text-align: center;
  padding: 0;
  font-weight: 900;
}
.content-maintenance {
  text-align: center;
}
.form-maintenance .content-maintenance {
  text-align: center;
  color: #feff7b;
  font-size: 15px;
}
.form-maintenance .tab-content-maintenance {
  background: url('#{$img-path}/b52/bg-form.png') top center/100% 100% no-repeat;
  margin: 0 auto;
  padding: 6.5rem 3.1rem 5rem !important;
  position: relative;
  width: 80%;
  z-index: 2;
}
.form-maintenance {
  margin-top: 3rem;
  display: block !important;
}
#alertBanner .modal-content {
  background: 0 0;
  pointer-events: none;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.banner-mainx {
  position: relative;
  cursor: pointer;
}
.banner-mainx button {
  background: 0 0;
  border: none;
  height: 10%;
  width: 35%;
  position: absolute;
  left: 50%;
  top: 66%;
  transform: translateX(-50%);
}
@media screen and (min-width: 992px) {
  #alertBanner .modal-dialog {
    min-width: 900px;
  }
}
@media only screen and (min-width: 1200px) and (max-height: 760px) {
  form {
    width: 83%;
  }
}
@media screen and (max-height: 850px) {
  #banners {
    transform: scale(0.75) translateY(-80%);
    left: -2rem;
    min-height: 488px;
  }
  .wrap-right {
    right: -3rem;
    transform: scale(0.7) translateY(-50%);
  }
  .wrap-right {
    position: fixed;
    top: 50%;
    right: 0;
    transform: scale(0.8) translateX(2.5rem) translateY(-65%);
  }
}
@media screen and (min-width: 641px) {
  .pchidden {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .mobile-show{display: block;}
}

.banner-left {
  width: 23%;
  position: absolute;
  bottom: 50%;
  left: 6%;
  transform: translateY(54%);
  z-index: 2;
}
.banner-right {
  width: 23%;
  position: absolute;
  bottom: 50%;
  right: 6%;
  transform: translateY(54%);
  z-index: 2;
}
.banner-left img,
.banner-right img {
  width: 100%;
}
.redirect {
  position: absolute;
  left: 0;
  width: 100%;
  height: 74%;
}
@media screen and (max-width: 1920px) {
  body {
    margin: 0;
    padding: 0;
    font-family: utm;
    color: #dab777;
    font-size: 14px;
    overflow-x: hidden;
    background: url('#{$img-path}/b52/bg-bottom1.png') bottom left no-repeat
    fixed,
    url('#{$img-path}/b52/bg-bottom2.png') bottom right no-repeat fixed,
    url('#{$img-path}/b52/bg-left.png') top 61% left 8% no-repeat fixed,
    url('#{$img-path}/b52/bg-right.png') top 55% right 8% no-repeat fixed,
    url('#{$img-path}/b52/bg.jpg') bottom center no-repeat fixed;
    background-size: 380px auto, 380px auto, 23% auto, 28% auto, cover;
    background-color: #13141a;
  }
  .icon-about,
  a.icon-fb,
  a.icon-livechat,
  a.icon-tele {
    width: 55px;
    height: 55px !important;
    bottom: 16px !important;
  }
  a.icon-fb {
    right: 95px !important;
  }
  a.icon-tele {
    right: 170px !important;
  }
  a.icon-livechat {
    right: 20px !important;
  }
  small {
    font-size: 13px;
    max-width: 65%;
  }
  .playquick {
    max-width: 77%;
    margin: auto;
  }
  .line {
    margin: 22px 0;
    max-width: 78%;
  }
  .main-banner {
    margin-bottom: 0 !important;
  }
  .btn1111-pc img {
    max-width: 66%;
  }
  #main .container,
  header .container {
    max-width: 26%;
  }
  .web .container {
    max-width: 28%;
  }
  .slogan {
    margin: -12% auto 0.5rem;
    width: 88%;
  }
}
@media screen and (max-width: 1800px) {
  .btn1111-pc img {
    max-width: 57%;
  }
  #main .container,
  header .container {
    max-width: 24%;
  }
  .web .container {
    max-width: 26%;
  }
}
@media screen and (max-width: 1500px) {
  small {
    font-size: 11px;
    max-width: 62%;
  }
  .form-control,
  .form-group > i {
    height: 48px;
  }
  #banners {
    max-width: 250px;
  }
  .jackpost_box {
    width: 250px;
    height: 172px;
    min-height: 172px;
    padding: 89px 22px 53px 107px;
  }
  .jackpost_num {
    font-size: 15px;
  }
  .wrap-right {
    position: fixed;
    top: 50%;
    right: 0;
    transform: scale(0.8) translateX(2.5rem) translateY(-65%);
  }
}
@media screen and (max-width: 1300px) {
  small {
    font-size: 11px;
    max-width: 67%;
  }
}
@media screen and (max-width: 1200px) {
  small {
    font-size: 11px;
    max-width: 74%;
  }
}
.hoac {
  color: #fff;
  font-weight: 700;
  margin: 9px 0 15px;
  font-size: 18px;
}
.store ~ small {
  display: none !important;
}
.btn1111 small {
  display: block !important;
}
@media (max-width: 1200px) {
  #modalContent .modal-dialog {
    width: 80%;
    max-width: 60%;
  }
  .title-modal {
    width: 50vw;
    margin-bottom: 1rem;
  }
  .tab {
    width: 10vw;
  }
}
@media (max-width: 1024px) {
  .girl {
    display: none;
  }
  #modalContent .modal-body p {
    padding: 0;
  }
  .tab {
    display: none;
  }
  .title-content {
    font-size: 16px;
  }
  #modalContent .modal-dialog {
    width: 80%;
    max-width: 80%;
  }
  .title-modal {
    width: 50vw;
    margin-bottom: 1rem;
  }
  .tab {
    width: 10vw;
  }
  .btn-pc small {
    max-width: 65%;
  }
  .line {
    max-width: 46%;
  }
  .banner-left {
    display: none !important;
  }
  body {
    background: url('#{$img-path}/b52/bg-mobile.jpg') top center no-repeat fixed;
    background-size: cover;
  }
  .slogan {
    margin-top: -4rem;
  }
  a.icon-fb,
  a.icon-livechat,
  a.icon-tele {
    width: 80px !important;
    height: 80px !important;
  }
  a.icon-fb,
  a.icon-livechat,
  a.icon-tele {
    right: 11px !important;
  }
  a.icon-tele {
    top: 11px !important;
  }
  a.icon-fb {
    top: 111px !important;
  }
  a.icon-livechat {
    top: 211px !important;
  }
  small {
    font-size: 14px;
    max-width: 42%;
  }
  #playonweb > small {
    margin-top: 15px;
  }
  .adv {
    margin-bottom: 35px;
  }
  .btn-store,
  a.ios-server {
    width: 56%;
  }
  .web.choinhanh {
    padding-bottom: 0;
    margin-top: -2%;
  }
  .web .container {
    max-width: 80%;
  }
  #main .container,
  header .container {
    max-width: 80%;
  }
}
@media (max-width: 992px) {
  a.icon-fb,
  a.icon-livechat,
  a.icon-tele {
    width: 65px !important;
    height: 65px !important;
  }
  a.icon-fb {
    top: 96px !important;
  }
  a.icon-livechat {
    top: 181px !important;
  }
  #playonweb > small {
    font-size: 11px;
    max-width: 42%;
    margin-top: 10px;
  }
  .hoac {
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
  .modal_style .modal-content .modal-body {
    min-height: auto !important;
  }
  #modalContent .modal-body {
    overflow-y: auto;
    max-height: 85vh;
  }
  #modalContent .close {
    left: 98%;
    width: 32px;
  }
  #modalContent .modal-dialog {
    width: 100%;
    max-width: 95%;
  }
  #modalContent .modal-body p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0.5rem;
  }
  .title-content {
    font-size: 14px;
  }
  .tab {
    width: 24%;
  }
  .title-modal {
    width: 55vw;
  }
  body {
    background: url('#{$img-path}/b52/bg-mobile.jpg') top center no-repeat fixed;
    background-size: cover;
    background-color: #100b12;
    padding-bottom: 2rem;
  }
  .modal_style .modal-content .nano-content {
    max-height: 250px;
  }
  #alertModal .modal-content .modal-body {
    font-size: 26px;
  }
  .hoac {
    margin: 10px 0 15px;
    font-size: 11px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #alertModal .modal-content .modal-body {
    font-size: 22px;
  }
}
.main-banner {
  margin-bottom: -4px;
}
a {
  text-decoration: none !important;
}
.playquick {
  text-align: center;
  display: block;
  display: flex;
  justify-content: center;
  width: 77%;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: auto;
  background-color: transparent;
  border: none;
}
.btn1111-pc {
  background-color: transparent;
  border: none;
  display: inline;
}
.btn1111-pc small {
  display: inline-block !important;
}
.btn1111-pc img {
  width: 80%;
  margin: auto;
}
.btn1111 a {
  display: block !important;
}
.vuottuonglua {
  display: none !important;
}
.btn1111 a.btn1111-sm {
  display: inline-block !important;
  color: #fff;
}
@media (max-width: 640px) {
  .modal_style .modal-content .modal-body {
    min-height: auto !important;
  }
  #modalContent .modal-body {
    overflow-y: auto;
    max-height: 50vh;
  }
  #modalContent .close {
    left: 94%;
    width: 32px;
  }
  #modalContent .modal-dialog {
    width: 100%;
    max-width: 95%;
  }
  #modalContent .modal-body p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0.5rem;
  }
  .title-content {
    font-size: 14px;
  }
  .tab {
    width: 24%;
  }
  .title-modal {
    width: 55vw;
  }
  small {
    margin-top: 2px;
  }
  .btn-pc small {
    max-width: 90%;
  }
  .slogan {
    margin-top: -2.5rem;
  }
  .playquick {
    font-size: 16px;
  }
  #alertBanner .modal-body {
    padding-left: 5px;
    padding-right: 5px;
  }
  .form-maintenance .content-maintenance {
    font-size: 14px;
  }
  #playonweb > small {
    font-size: 9px;
    max-width: 65%;
    margin-top: 10px;
  }
  .btn1111 .playweb {
    width: 56% !important;
  }
  .form-maintenance .tab-content-maintenance {
    padding: 4.3rem 3rem 3rem !important;
  }
  .form-maintenance .tab-content-maintenance {
    width: 100% !important;
  }
  .sphidden {
    display: none !important;
  }
  body {
    background: url('#{$img-path}/b52/bg-mobile.jpg') top center no-repeat fixed;
    background-size: cover;
    background-color: #100b12;
  }
  .slogan {
    width: 90%;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }
  .playweb {
    width: 49% !important;
  }
  .btn-store,
  .ios-server {
    width: 59% !important;
  }
  .error,
  .errors {
    margin-bottom: -0.5rem;
    font-size: 13px;
    position: unset;
  }
  #alertModal .modal-content .modal-body {
    font-size: 16px;
  }
  .slogan {
    margin-bottom: 0;
    width: 75%;
  }
  .adv {
    margin-top: 10px;
  }
  #main .container {
    max-width: 90%;
  }
  .row.adv img {
    width: 100%;
  }
  .adv {
    margin-bottom: 20px;
  }
  .hoac {
    margin: 10px 0 15px;
  }
  .hoac {
    font-size: 12px;
  }
  .btn-store,
  .ios-server {
    width: 80% !important;
  }
  .playweb {
    width: 68% !important;
  }
  .line {
    margin: 20px 0;
    max-width: 65%;
  }
  .hoac > img {
    max-width: 65%;
  }
  a.icon-fb,
  a.icon-livechat,
  a.icon-tele {
    width: 40px !important;
    height: 40px !important;
  }
  a.icon-tele {
    top: 7px !important;
  }
  a.icon-fb {
    top: 57px !important;
  }
  a.icon-livechat {
    top: 107px !important;
  }
  a.icon-fb,
  a.icon-livechat,
  a.icon-tele {
    right: 8px !important;
  }
  #main {
    margin-top: -5px;
  }
  #main .container {
    max-width: 80%;
  }
  #playonweb > small {
    font-size: 9px;
    max-width: 64%;
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  header {
    background-size: 400px auto;
  }
  .bg-api {
    width: 90%;
    height: 50px;
  }
  .web .tab-content {
    padding: 1rem 0 3.2rem;
    width: 100%;
  }
  form {
    min-height: 140px;
    width: 82%;
  }
  .form-control,
  .form-group > i {
    height: 40px;
  }
  .form-control {
    font-size: 14px;
    padding: 4px 42px 4px 45px;
  }
}
@media (max-width: 320px) {
  .adv {
    width: 70%;
    margin: 20px auto;
  }
}
.web.custom-form {
  opacity: 0;
  height: 0;
  visibility: hidden;
}
.girl {
  position: absolute;
  right: 0;
  max-width: 32%;
  top: 7%;
}
.pd-custom {
  padding-right: 28%;
}
.notifications {
  position: fixed;
  top: 20%;
  right: 1%;
  display: none;
}
.notifications.ready {
  display: block;
}
.notification_box {
  position: relative;
  display: block;
  height: 56vh;
  max-height: 392px;
  overflow-x: hidden;
}
.notifications .notification {
  display: block;
  position: relative;
  height: 0;
  transform: translateX(calc(100% + 40px));
  transition: height 550ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 550ms cubic-bezier(0.23, 1, 0.32, 1) 250ms,
  opacity 750ms cubic-bezier(0.23, 1, 0.32, 1);
}
.notifications .notification.loaded {
  height: 80px;
  transform: translateX(0);
}
.notifications .notification:nth-child(n + 5) {
  transition: opacity 550ms cubic-bezier(0.23, 1, 0.32, 1) 150ms;
}
.notifications .notification:nth-child(2) {
  opacity: 0.75;
}
.notifications .notification:nth-child(3) {
  opacity: 0.6;
}
.notifications .notification:nth-child(4) {
  opacity: 0.45;
}
.notifications .notification:nth-child(5) {
  opacity: 0.2;
}
.notifications .notification.closed {
  transform: translateX(calc(100% + 40px));
  transition: height 550ms cubic-bezier(0.23, 1, 0.32, 1) 250ms,
  transform 550ms cubic-bezier(0.23, 1, 0.32, 1);
  height: 0;
}
.notifications .notification-inner {
  overflow: initial;
  width: 250px;
  position: relative;
  border-radius: 0;
  position: relative;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
}
.notifications .notification-inner:after,
.notifications .notification-inner:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 0;
}
.notifications .notification-inner:after {
  background: 0 0;
}
.notifications .notification-inner > * {
  position: relative;
  z-index: 1;
}
.notifications .notification.has-actions .notification-body,
.notifications .notification.has-image .notification-body {
  padding-right: 100px;
}
.notifications .notification-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 3px;
  background: url('#{$img-path}/b52/bg-avatar.png') center/100% 100% no-repeat;
}
.notifications .notification-icon > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.notifications .notification-icon + .notification-body {
  padding-right: 10px;
}
.notifications .notification-body {
  height: 100%;
  color: #fff;
  width: calc(100% - 60px);
  padding-left: 10px;
}
.notifications .notification-body-header {
  font: 600 13.5px/1em "San Francisco";
  letter-spacing: 0.45px;
  overflow: hidden;
}
.notifications .notification-body-content {
  font: 400 11.25px/1em "San Francisco";
  letter-spacing: 0.38px;
  overflow: hidden;
  padding-top: 6px;
}
.notifications .notification-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  letter-spacing: 0.23px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
  min-width: 80px;
}
.notifications .notification-actions > * {
  pointer-events: all;
  height: 50%;
  text-align: center;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.notifications .notification-actions > :hover {
  background: rgba(0, 0, 0, 0.05);
}
.notifications .notification-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70px;
  z-index: 3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .notifications .notification-inner {
    width: 200px !important;
  }
  .notification_box {
    max-height: 320px;
  }
  .notifications .notification-icon {
    min-width: 50px;
    height: 50px !important;
    width: 50px !important;
  }
  .notifications .notification.loaded {
    height: 65px !important;
  }
  .notifications .notification-inner {
    margin-bottom: 10px !important;
  }
  .notifications .notification-body {
    width: calc(100% - 50px);
  }
  .notification_box::before {
    width: calc(250px + 1rem);
  }
}
@media screen and (max-width: 1024px) {
  .notifications {
    display: none !important;
  }
}
